:root{
  --background: #5FC8E6;
  --background1: #F9F9FB;
  --background2: #4C3FF2;
  --background3: #161F2A; 
  --bck-non:none;
  
  --border2: none;
  --color:black;
  --color2:white;  
  
}
.darkT{
  --background: black;
  --background1: black;
  --background2: black;
  --background3: black;
  --bck-non:white;

  --border2:white;  
   --color: white;
  --color2:black; 
}



body {
  background-color: var(--background);
  padding: 1%;
  font-family: sans-serif;
}
a{
    text-decoration: none;
    color: var(--color);
}
section{
    background-color: var(--background1);
    border-radius: 25px;
    padding-bottom: 10px;
}
.img1{
    height: 60px;
    width: 110px;
    background-color: var(--bck-non);
    border-radius: 10px;
}
.header1{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}
.div1{
    display: flex;
    align-items: center;
    gap: 10px;
}
.fir{
  border: 2px solid var(--border2);
}
.bars{
  font-size: 25px;
  color: var(--color);
}
.div2{
    padding-left: 20px;
}
.span1{
    font-size: 19px;
    color: #555760;
}
.span2{
    font-weight: bold;
    font-size: 25px;
    line-height: 1.3;
    color: var(--color);
}
.input1{
    width: 89%;
    height:50px ;
    border-radius: 30px;
    padding:0 0 0 20px;
    font-size: 20px;
    font-weight: bold;
    border: 1px solid blue;
    margin-top: 20px;
}
.input1:focus {
    border: 5px solid #C5C1F8; 
    outline: 0;
    transition:all 0.3s;
  }
  .div3{
    padding: 30px 20px;
  }
  .fire{
    background-color: #4C3FF2;
    color: var(--color2);
    padding: 15px 18px;
    font-size: 25px;
    border-radius: 15px;

  }
  .div4{
    margin: 20px 0;
  }

  .wifi{
    background-color: var(--background1);
    border: 2px solid var(--border2);
    padding: 10px;
    border-radius: 12px;
    color: blue;
    font-size: 26px;
  }
  .span3{
    font-weight: bold;
    font-size: 16px;
  }
  .span4{
    font-size: 15px;
  }
  .div5{
    background-color: var(--background1);
    border: 2px solid var(--border2) ;
    padding: 15px;
    border-radius: 18px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    cursor: pointer;
    height: 140px;
    border: 2px solid var(--border2) ;
  }
  .div6{
    margin-top: 15px;
  }
  .div7{
    height: 175px;
  }
  .div8{

    margin-top: 30px;
    border-radius: 18px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    transition: all .5s;
  }
 .div8:hover{
    margin-top: 5px;
    background-color: var(--background1);
    border-radius: 18px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    transform: 3s;
    background-color: #4C3FF2;
    padding-bottom: 5px;
    transition: all .4s;

  }
  .div9{
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 15px;
  } 
  .div10{
    background-color: var(--background2);
    border: 2px solid var(--border2);
    padding: 25px 2px 25px 25px;
    margin: 5%;
    border-radius: 16px;
  }
  .span5{
    color:white ;
    font-size: 17px;
    line-height: 1.5;
    font-weight: bold;
  }
  .div11{
    margin-top: 13px;
  }
  
  .span6{
    color: white;
    font-weight: bold;
    font-size: 25px;
  }
  
  .button1{
    font-size: 20px;
    color: #4C3FF2;
    background-color: white;
    padding: 15px 20px;
    border: none;
    border-radius: 50px;
    margin-top: 20px;
    transition:  .04s;
    cursor: pointer;
    transition:all 0.4s;
    border: 2px solid var(--border2);
  }
  .button1:hover{
    font-size: 20px;
    color: #4C3FF2;
    background-color: #CAC7FC;
    padding: 15px 20px;
    border: none;
    border-radius: 50px;
    margin-top: 20px;
    transition:all 0.4s;
    border: 2px solid var(--border2);
  }
  .div12{
    background-color: var(--background3);
    border: 2px solid var(--border2);
    margin: 5%;
    border-radius: 18px;
    padding: 20px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
  .img2{
    height: 100px;
    padding-left: 5px;
    width: 300px;
    
  }
  
  .span7{
    color: #CAC7FC;
    font-weight: bold;
    font-size: 23px;
    cursor: pointer;
    transition:all 0.4s;
  }
  .span7:hover{
    color: white;
    font-weight: bold;
    font-size: 23px;
    transition:all 0.4s;
  }
  .span8{
    color: white;
    font-weight: bold;
    font-size: 23px;
    padding-left: 15px;
  }
  .span9{
    color: white;
    line-height: 4;
    font-weight: bold;
    font-size: 17px;
  }
  .img5{
    border: 1px solid;
    border-radius: 50%;
    height: 30px;
    width: 30px;
  }
 

  @media only screen and (max-width: 1200px) {

    :root{
      --background: #5FC8E6;
      --background1: #F9F9FB;
      --background2: #4C3FF2;
      --background3: #161F2A; 
      --bck-non:none;
      
      --border2: none;
      --color:black;
      --color2:white;  
      
    }
    .darkT{
      --background: black;
      --background1: black;
      --background2: black;
      --background3: black;
      --bck-non:white;
    
      --border2:white;  
       --color: white;
      --color2:black; 
    }
    
    body {
      background-color: var(--background);
      padding: 1%;
      font-family: sans-serif;
    }
a{
    text-decoration: none;
    color: var(--color);
    margin-top: 25px;
}
section{
  background-color: var(--background1);
    border-radius: 25px;
    padding-bottom: 10px;
}
.img1{
    height: 60px;
    width: 110px;
    background-color: var(--bck-non);
    border-radius: 10px;
}
.fir{
  border: 2px solid var(--border2);
}
.header1{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}
.div1{
    display: flex;
    align-items: center;
    gap: 10px;
}
.moon{
    border: 1px solid rgb(62, 58, 58);
    padding: 8px 10px;
    border-radius: 50%;
}
.bars{
  font-size: 25px;
  color: var(--color);
}
.div2{
    padding-left: 20px;
}
.span1{
    font-size: 19px;
    color: #555760;
}
.span2{
    font-weight: bold;
    font-size: 25px;
    line-height: 1.3;
    color: var(--color);
}
.input1{
    width: 89%;
    height:50px ;
    border-radius: 30px;
    padding:0 0 0 20px;
    font-size: 20px;
    font-weight: bold;
    border: 1px solid blue;
    margin-top: 20px;
}
.input1:focus {
    border: 5px solid #C5C1F8;
    outline: 0;
    transition:all 0.3s;
  }
  .div3{
    padding: 30px 20px;
  }
  .fire{
    background-color: #4C3FF2;
    color: white;
    padding: 15px 18px;
    font-size: 25px;
    border-radius: 15px;
    color: var(--color2);

  }
  .div4{
    margin: 20px 0;
  }

  .wifi{
    background-color: #e5e3f9;
    padding: 10px;
    border-radius: 12px;
    color: blue;
    font-size: 26px;
    background-color: var(--background1);
    border: 2px solid var(--border2);
  }
  .span3{
    font-weight: bold;
    font-size: 16px;
  }
  .span4{
    font-size: 15px;
  }
  .div5{
    background-color: var(--background1);
    border: 2px solid var(--border2) ;
    padding: 15px;
    border-radius: 18px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    cursor: pointer;
    height: 170px;
  }
  .div6{
    margin-top: 15px;
  }
  .div7{
    height: 175px;
  }
  .div8{
    margin-top: 30px;
    border-radius: 18px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    transition: all .5s;
  }
 .div8:hover{
    margin-top: 5px;
    background-color: var(--background1);
    border-radius: 18px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    transform: 3s;
    background-color: #4C3FF2;
    padding-bottom: 5px;
    transition: all .4s;

  }
  .div9{
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 15px;
  } 


  }



@media only screen and (max-width: 980px) {

  :root{
    --background: #5FC8E6;
    --background1: #F9F9FB;
    --background2: #4C3FF2;
    --background3: #161F2A; 
    --bck-non:none;
    
    --border2: none;
    --color:black;
    --color2:white;  
    
  }
  .darkT{
    --background: black;
    --background1: black;
    --background2: black;
    --background3: black;
    --bck-non:white;
  
    --border2:white;  
     --color: white;
    --color2:black; 
  }

  body {
    background-color: var(--background);
    padding: 1%;
    font-family: sans-serif;
  }
    a{
        text-decoration: none;
        color: var(--color);
    }
    section{
      background-color: var(--background1);
        border-radius: 25px;
        padding-bottom: 10px;
    }
    .img1{
        height: 60px;
        width: 110px;
        background-color: var(--bck-non);
        border-radius: 10px;
    }
    .fir{
      border: 2px solid var(--border2);
    }
    .header1{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 20px;
    }
    .div1{
        display: flex;
        align-items: center;
        gap: 10px;
    }
    .moon{
        border: 1px solid rgb(62, 58, 58);
        padding: 8px 10px;
        border-radius: 50%;
    }
    .bars{
      font-size: 25px;
      color: var(--color);
    }
    .div2{
        padding-left: 20px;
    }
    .span1{
        font-size: 19px;
        color: #555760;
    }
    .span2{
        font-weight: bold;
        font-size: 25px;
        line-height: 1.3;
        color: var(--color);
    }
    .input1{
        width: 89%;
        height:50px ;
        border-radius: 30px;
        padding:0 0 0 20px;
        font-size: 20px;
        font-weight: bold;
        border: 1px solid blue;
        margin-top: 20px;
    }
    .input1:focus {
        border: 5px solid #C5C1F8;
        outline: 0;
        transition:all 0.3s;
      }
      .div3{
        padding: 30px 20px;
      }
      .fire{
        background-color: #4C3FF2;
        color: white;
        padding: 15px 18px;
        font-size: 25px;
        border-radius: 15px;
        color: var(--color2);

      }
      .div4{
        margin: 20px 0;
      }
   
      .wifi{
        background-color: #e5e3f9;
        padding: 10px;
        border-radius: 12px;
        color: blue;
        font-size: 26px;
        background-color: var(--background1);
        border: 2px solid var(--border2);
      }
      .span3{
        font-weight: bold;
        font-size: 16px;
      }
      .span4{
        font-size: 15px;
      }
      .div5{
        background-color: var(--background1);
        border: 2px solid var(--border2) ;
        padding: 15px;
        border-radius: 18px;
        box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
        cursor: pointer;
        height: 140px;
      }
      .div6{
        margin-top: 15px;
      }
      .div7{
        height: 175px;
      }
      .div8{
        margin-top: 30px;
        border-radius: 18px;
        box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
        transition: all .5s;
      }
     .div8:hover{
        margin-top: 5px;
        background-color: var(--background1);
        border-radius: 18px;
        box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
        transform: 3s;
        background-color: #4C3FF2;
        padding-bottom: 5px;
        transition: all .4s;

      }
      .div10{
        background-color: var(--background2);
        border: 2px solid var(--border2);
        padding: 25px 2px 25px 25px;
        margin: 5%;
        border-radius: 16px;
      }
      .span5{
        color:#DBDCFE ;
        font-size: 17px;
        line-height: 1.5;
        font-weight: bold;
      }
      .span6{
        color: white;
        font-weight: bold;
        font-size: 25px;
      }
      .div11{
        margin-top: 13px;
      }
      .button1{
        border: 2px solid var(--border2);
        font-size: 20px;
        color: #4C3FF2;
        background-color: white;
        padding: 15px 20px;
        border: none;
        border-radius: 50px;
        margin-top: 20px;
        transition:  .04s;
        cursor: pointer;
        transition:all 0.4s;
      }
      .button1:hover{
        border: 2px solid var(--border2);
        font-size: 20px;
        color: #4C3FF2;
        background-color: #CAC7FC;
        padding: 15px 20px;
        border: none;
        border-radius: 50px;
        margin-top: 20px;
        transition:all 0.4s;
      }
      .div12{
        background-color: var(--background3);
        border: 2px solid var(--border2);
        margin: 5%;
        border-radius: 18px;
        padding: 20px;
      }
      .img2{
        height: 100px;
        padding-left: 5px;
      }
      .span7{
        color: #CAC7FC;
        font-weight: bold;
        font-size: 23px;
        cursor: pointer;
        transition:all 0.4s;
      }
      .span7:hover{
        color: white;
        font-weight: bold;
        font-size: 23px;
        transition:all 0.4s;
      }
      .span8{
        color: white;
        font-weight: bold;
        font-size: 23px;
        padding-left: 15px;
      }
      .span9{
        color: white;
        line-height: 4;
        font-weight: bold;
        font-size: 17px;
      }
      .div9{
        display: grid;
        grid-template-columns: auto auto ;
        gap: 15px;
      } 
      .div12{
        background-color: var(--background3);
        border: 2px solid var(--border2);
        margin: 5%;
        border-radius: 18px;
        padding: 20px;
        text-align: center;
      }
      



  }


@media only screen and (max-width: 810px) {
  :root{
    --background: #5FC8E6;
    --background1: #F9F9FB;
    --background2: #4C3FF2;
    --background3: #161F2A; 
    --bck-non:none;
    
    --border2: none;
    --color:black;
    --color2:white;  
    
  }
  .darkT{
    --background: black;
    --background1: black;
    --background2: black;
    --background3: black;
    --bck-non:white;
  
    --border2:white;  
     --color: white;
    --color2:black; 
  }
  body {
    background-color: var(--background);
    padding: 1%;
    font-family: sans-serif;
  }
    a{
        text-decoration: none;
        color: var(--color);
    }
    section{
      background-color: var(--background1);
        border-radius: 25px;
        padding-bottom: 10px;
    }
    .img1{
        height: 60px;
        width: 110px;
        background-color: var(--bck-non);
        border-radius: 10px;
    }
    .fir{
      border: 2px solid var(--border2);
    }
    .header1{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 20px;
    }
    .div1{
        display: flex;
        align-items: center;
        gap: 10px;
    }
    .moon{
        border: 1px solid rgb(62, 58, 58);
        padding: 8px 10px;
        border-radius: 50%;
    }
    .bars{
      font-size: 25px;
      color: var(--color);
    }
    .div2{
        padding-left: 20px;
    }
    .span1{
        font-size: 19px;
        color: #555760;
    }
    .span2{
        font-weight: bold;
        font-size: 25px;
        line-height: 1.3;
        color: var(--color);
    }
    .input1{
        width: 89%;
        height:50px ;
        border-radius: 30px;
        padding:0 0 0 20px;
        font-size: 20px;
        font-weight: bold;
        border: 1px solid blue;
        margin-top: 20px;
    }
    .input1:focus {
        border: 5px solid #C5C1F8;
        outline: 0;
        transition:all 0.3s;
      }
      .div3{
        padding: 30px 20px;
      }
      .fire{
        background-color: #4C3FF2;
        color: white;
        padding: 15px 18px;
        font-size: 25px;
        border-radius: 15px;
        color: var(--color2);

      }
      .div4{
        margin: 20px 0;
      }
   
      .wifi{
        background-color: #e5e3f9;
        padding: 10px;
        border-radius: 12px;
        color: blue;
        font-size: 26px;
        background-color: var(--background1);
        border: 2px solid var(--border2);
      }
      .span3{
        font-weight: bold;
        font-size: 16px;
      }
      .span4{
        font-size: 15px;
      }
      .div5{
        background-color: var(--background1);
        border: 2px solid var(--border2) ;
        padding: 15px;
        border-radius: 18px;
        box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
        cursor: pointer;
        height: 190px;
      }
      .div6{
        margin-top: 15px;
      }
      .div7{
        height: 195px;
      }
      .div8{
        /* border: 2px solid; */
        margin-top: 30px;
        border-radius: 18px;
        box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
        transition: all .5s;
      }
     .div8:hover{
        margin-top: 5px;
        background-color: var(--background1);
        border-radius: 18px;
        box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
        transform: 3s;
        background-color: #4C3FF2;
        padding-bottom: 5px;
        transition: all .4s;

      }
      .div10{
        background-color: var(--background2);
        border: 2px solid var(--border2);
        padding: 25px 2px 25px 25px;
        margin: 5%;
        border-radius: 16px;
      }
      .span5{
        color:#DBDCFE ;
        font-size: 17px;
        line-height: 1.5;
        font-weight: bold;
      }
      .span6{
        color: white;
        font-weight: bold;
        font-size: 25px;
      }
      .div11{
        margin-top: 13px;
      }
      .button1{
        border: 2px solid var(--border2);
        font-size: 20px;
        color: #4C3FF2;
        background-color: white;
        padding: 15px 20px;
        border: none;
        border-radius: 50px;
        margin-top: 20px;
        transition:  .04s;
        cursor: pointer;
        transition:all 0.4s;
      }
      .button1:hover{
        border: 2px solid var(--border2);
        font-size: 20px;
        color: #4C3FF2;
        background-color: #CAC7FC;
        padding: 15px 20px;
        border: none;
        border-radius: 50px;
        margin-top: 20px;
        transition:all 0.4s;
      }
      .div12{
        background-color: var(--background3);
        border: 2px solid var(--border2);
        margin: 5%;
        border-radius: 18px;
        padding: 20px;
        display: flex;
        flex-direction: column;
      }
      .div13{
        margin-top: 20px;
        flex-direction: column;
      }
      .img2{
        height: 100px;
        padding-left: 5px;
      }
      .span7{
        color: #CAC7FC;
        font-weight: bold;
        font-size: 23px;
        cursor: pointer;
        transition:all 0.4s;
      }
      .span7:hover{
        color: white;
        font-weight: bold;
        font-size: 23px;
        transition:all 0.4s;
      }
      .span8{
        color: white;
        font-weight: bold;
        font-size: 23px;
        padding-left: 15px;
      }
      .span9{
        color: white;
        line-height: 4;
        font-weight: bold;
        font-size: 17px;
      }
      .div9{
        display: grid;
        grid-template-columns: auto auto ;
        gap: 15px;
      } 



  }

@media only screen and (max-width: 600px) {
  :root{
    --background: #5FC8E6;
    --background1: #F9F9FB;
    --background2: #4C3FF2;
    --background3: #161F2A; 
    --bck-non:none;
    
    --border2: none;
    --color:black;
    --color2:white;  
    
  }
  .darkT{
    --background: black;
    --background1: black;
    --background2: black;
    --background3: black;
    --bck-non:white;
  
    --border2:white;  
     --color: white;
    --color2:black; 
  }
  body {
    background-color: var(--background);
    padding: 1%;
    font-family: sans-serif;
  }

    a{
        text-decoration: none;
        color: var(--color);
    }
    section{
      background-color: var(--background1);
        border-radius: 25px;
        padding-bottom: 10px;
    }
    .img1{
        height: 60px;
        width: 110px;
        background-color: var(--bck-non);
        border-radius: 10px;
    }
    .fir{
      border: 2px solid var(--border2);
    }
    .header1{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 20px;
    }
    .div1{
        display: flex;
        align-items: center;
        gap: 10px;
    }
    .moon{
        border: 1px solid rgb(62, 58, 58);
        padding: 8px 10px;
        border-radius: 50%;
    }
    .bars{
      font-size: 25px;
      color: var(--color);
    }
    .div2{
        padding-left: 20px;
    }
    .span1{
        font-size: 19px;
        color: #555760;
    }
    .span2{
        font-weight: bold;
        font-size: 25px;
        line-height: 1.3;
        color: var(--color);
    }
    .input1{
        width: 89%;
        height:50px ;
        border-radius: 30px;
        padding:0 0 0 20px;
        font-size: 20px;
        font-weight: bold;
        border: 1px solid blue;
        margin-top: 20px;
    }
    .input1:focus {
        border: 5px solid #C5C1F8;
        outline: 0;
        transition:all 0.3s;
      }
      .div3{
        padding: 30px 20px;
      }
      .fire{
        background-color: #4C3FF2;
        color: white;
        padding: 15px 18px;
        font-size: 25px;
        border-radius: 15px;
        color: var(--color2);

      }
      .div4{
        margin: 20px 0;
      }
   
      .wifi{
        background-color: #e5e3f9;
        padding: 10px;
        border-radius: 12px;
        color: blue;
        font-size: 26px;
        background-color: var(--background1);
        border: 2px solid var(--border2);
      }
      .span3{
        font-weight: bold;
        font-size: 16px;
      }
      .span4{
        font-size: 15px;
      }
      .div5{
        background-color: var(--background1);
        border: 2px solid var(--border2) ;
        padding: 15px;
        border-radius: 18px;
        box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
        cursor: pointer;
        height: 140px;
      }
      .div6{
        margin-top: 15px;
      }
      .div7{
        height: 175px;
      }
      .div8{
        /* border: 2px solid; */
        margin-top: 30px;
        border-radius: 18px;
        box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
        transition: all .5s;
      }
     .div8:hover{
        margin-top: 5px;
        background-color: var(--background1);
        border-radius: 18px;
        box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
        transform: 3s;
        background-color: #4C3FF2;
        padding-bottom: 5px;
        transition: all .4s;

      }
      .div10{
        background-color: var(--background2);
        border: 2px solid var(--border2);
        padding: 25px 2px 25px 25px;
        margin: 5%;
        border-radius: 16px;
      }
      .span5{
        color:#DBDCFE ;
        font-size: 17px;
        line-height: 1.5;
        font-weight: bold;
      }
      .span6{
        color: white;
        font-weight: bold;
        font-size: 25px;
      }
      .div11{
        margin-top: 13px;
      }
      .button1{
        border: 2px solid var(--border2);
        font-size: 20px;
        color: #4C3FF2;
        background-color: white;
        padding: 15px 20px;
        border: none;
        border-radius: 50px;
        margin-top: 20px;
        transition:  .04s;
        cursor: pointer;
        transition:all 0.4s;
      }
      .button1:hover{
        font-size: 20px;
        color: #4C3FF2;
        background-color: #CAC7FC;
        padding: 15px 20px;
        border: none;
        border-radius: 50px;
        margin-top: 20px;
        transition:all 0.4s;
        border: 2px solid var(--border2);
      }
      .div12{
        background-color: var(--background3);
        border: 2px solid var(--border2);
        margin: 5%;
        border-radius: 18px;
        padding: 20px;
      }
      .img2{
        height: 70px;
        width: 170px;
        padding-left: 5px;
      }
      .span7{
        color: #CAC7FC;
        font-weight: bold;
        font-size: 23px;
        cursor: pointer;
        transition:all 0.4s;
      }
      .span7:hover{
        color: white;
        font-weight: bold;
        font-size: 23px;
        transition:all 0.4s;
      }
      .span8{
        color: white;
        font-weight: bold;
        font-size: 23px;
        padding-left: 15px;
      }
      .span9{
        color: white;
        line-height: 4;
        font-weight: bold;
        font-size: 17px;
      }
      .div9{
        display: grid;
        grid-template-columns: auto  ;
        gap: 15px;
      } 

  }



  
  
